.about-section {
  /* background: linear-gradient(100deg, #e3e9ff 0%, #f9f9f9 100%); */
  padding: 64px 1.5rem 48px 1.5rem;
  text-align: center;
  padding-bottom: 150px;
}

.about-section h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-style: normal;
}

.about-bio {
  font-family: 'GeistMono', monospace;
  font-size: 1.15rem;
  color: #333;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.7;
}

@media (max-width: 600px) {
  .about-section {
    padding: 48px 1rem 32px 1rem;
  }
  .about-bio {
    font-size: 1rem;
  }
} 