.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.header-line {
  width: 92%;
  max-width: 1100px;
  margin: 0 auto;
  border: none;
  border-top: 1px solid #bdbdbd;
  opacity: 0.7;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0.75rem 1.5rem;
}

.logo {
  height: 50px;
  width: auto;
  padding: -50px;
  display: block;
  cursor: pointer;
}

.nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav a {
  font-family: 'Very Vogue Bold', serif;
  font-style: normal;
  font-size: 1rem;
  letter-spacing: 0.3px;
  transition: all 0.3s ease;
  position: relative;
  text-decoration: none;
}

.nav a:has(.logo) {
  text-decoration: none;
}

.nav a:has(.logo)::after {
  display: none;
}

.nav a:hover {
  /* color: #0070f3; */
  cursor: pointer;
}

.nav a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #000;
  transition: width 0.3s ease;
}

.nav a:hover::after {
  width: 100%;
}

@media (max-width: 700px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
  .nav ul {
    gap: 1rem;
  }
} 